.Card{
    height: 100px;
    width: 80%; 
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-warning{
    background-color: rgb(216, 202, 8);
    color: #fff;
    font-weight: 500;
}

.btn-danger{
    background-color: tomato;
    color: #fff;
    font-weight: 500;
}

i{
    cursor: pointer;
}